{% extends 'base.html' %}


{% block cssblock %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{%  endblock %}

{% block content %}
<div class="col-md-6" style="margin:auto">
    <table class="table" width="200px" height="100px">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên môn học</th>
            <th scope="col">Số tín chỉ</th>
            <th scope="col">Loại</th>
            <th scope="col">Khoa</th>
            <th scope="col">
                <a href="{% url 'add' %}">
                    <button class="btn btn-outline-primary">Thêm</button>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        {% if listSubject %}
        {% for item in listSubject %}
        <tr>
            <th class="table-primary" scope="row">{{ item.0 }}</th>
            <td class="table-primary">{{item.1}}</td>
            <td class="table-primary">{{item.2}}</td>
            <td class="table-primary">{{item.3}}</td>
            <td class="table-primary">{{item.4}}</td>
            <td class="table-primary">
                <a href="{% url 'delete' item.0  %}">
                    <button class="btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </a>
            </td>
        </tr>

        {% endfor %}
        {% endif %}

        </tbody>
    </table>
</div>
{% endblock %}

{% block jsblock %}

<script src="https://use.fontawesome.com/5a83fcaae3.js"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
{% endblock %}